# for html processing
lxml
cssselect
# for ttf.py fixing Adobe's "encryption"
freetype-py
python-dotenv

# pdf2htmlEX is C++ and on OS X it easiest installs via
#     brew install pdf2htmlEX
# Don't forget to use Python 3.
#     brew install python3
